node_modules/
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# logs
npm-debug.log*
*.log

# misc
.DS_Store
*.pem
.vscode/
coverage/
tsconfig.tsbuildinfo
